	*{
		padding: 0;
		margin: 0;
	}
	*, *:before, *:after{
		box-sizing: border-box;
	}

	html, body{
		height: 100%;
		width: 100%;
	}

	body{
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}

	#player{
		width: 100%;
		height: 100%;
	}

	/***************** ACTION BAR ************/
	#actionBar{
		float: left;
		width: 100%;
		height: 100px;
	}

	#actionBar .title{
		height: 30px;
		background-color: #dee3f3;
		text-align: center;
		line-height: 30px;
	}

	#actionBar .controls{
		height: 70px;
		width: 100%;
		background-color: #41587a;
		color: white;
	}

	#actionButtons .ctrlBtn{
		width: 40px;
		height: 40px;
		display: inline-block;
		background-color: white;
		border-radius: 50px;
		text-align: center;
		line-height: 40px;
		color: black;
		cursor: pointer;
	}

	#actionButtons .ctrlBtn:hover{
		background-color: Crimson;
		color: white;
	}

	#actionButtons .playBtn{
		width: 60px;
		height: 60px;
		line-height: 60px;
	}
	/**************** BODY *********************/

	#body{
		float: left;
		width: 100%;
		min-width: 900px;
	}

	#mediaMenu{
		float: left;
		width: 250px;
		min-height: 100%;
		background-color: #f4f4f4;
	}

	#mediaMenu .mediaCategory{
		display: block;
	}

	#mediaMenu .mediaCatItem .title{
		height: 40px;
		border-bottom: 1px solid gray;
		line-height: 40px;
		padding-left: 15px;
		cursor: pointer;
	}

	#mediaMenu .mediaCatItem .title:hover{
		background-color: #dfdfdf;
	}

	#mediaMenu .mediaCatItem .catMenu{
		background-color: #e2e2e2;
		display: none;
	}

	#mediaMenu .mediaCatItem .catMenu li{
		padding: 5px 0px 5px 30px;
		font-size: 90%;
		cursor: pointer;
	}

	#mediaMenu .mediaCatItem .catMenu li:hover{
		background-color: #fefefe;
	}

	#mediaCover{
		width: 100%;
		height: 250px;
		background-color: rgba(0,0,0,0.6);
	}

	#mediaCover img{
		width: 100%;
	}

	#mediaHolder{
		float: left;
		width: 100%;
		height: 100%;
	}

	#upperBar{
		float:left;
		width: 100%;
		height: 30px;
		background-color: #e2e2e2;
	}

	#mediaWrapper{
		float:left;
		width: 70%;
		min-width: 400px;
		background-color: #fefefe;
	}

	#playList{
		float:left;
		width: 30%;
		min-width: 250px;
		background-color: #2c394c;
		color: white;
		overflow-y: auto; 
	}

	/* areglar desorden, poer esto donde va*/
	.enCola{
		padding: 10px;
		border-bottom: 1px dashed white;
		cursor: pointer;
	}
	.enCola:hover{
		background-color: #dee3f3;
		color: black;
	}

	.enCola .artist, .enCola .album{
		font-size: 70%;
		display: inline-block;
	}

	.isPlaying{
		background-color: #8fbcf7;
		color: black;
		font-weight: bold;
	}

	#loader{
		display: none;
		position: absolute;
		width: 30%;
		top: 48%;
		left: 35%;
	}

	#loader .loadingBarHolder{
		width: 100%;
		height: 15px;
		border: 2px solid gray;
		border-radius: 5px;
	}
	#loader .progress{
		width: 0%;
		height: 100%;
		background-color: #2c394c;
	}
	#loader .number{
		margin: -11px;
		width: 100%;
		height: 100%;
		font-size: 10px;
		color: white;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		text-align: center;
	}